.blog {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  .sol-blog {
    .image-one-blog {
      width: 100%;
      margin-bottom: 30px;
      img {
        width: 75%;
        height: 500px;
        object-fit: cover;
      }
      p:nth-child(2) {
        font-size: 32px;
        font-weight: bold;
      }
      p:nth-child(3) {
        width: 75%;
        font-size: 15px;
      }
      button {
        border-radius: 10px;
        height: 40px;
        color: white;
        background-color: black;
        font-size: 13px;
      }
    }
  }

  .sag-blog {
    position: sticky;
    top: 20px;
    align-self: flex-start;
    left: 0;
    width: 25%;
    /* position: fixed;
        left: 78%; */
    /* position: sticky;
  top: 100px; */

    .post-widget {
      p {
        margin-top: 10px;
      }
      .widget-card {
        display: flex;
        .img-card {
          margin-bottom: 20px;
          img {
            width: 80px;
            height: 70px;
            border-radius: 20px;
            object-fit: cover;
          }
        }
        .text-card {
          p:nth-child(1) {
            margin: 0;
            font-size: 12px;
            width: 150px;
            margin-left: 7px;
            font-weight: bold;
          }
          p:nth-child(2) {
            margin-top: 10px;
            color: gray;
             font-size: 12px;
              width: 150px;
            margin-left: 7px;

          }
        }
      }
    }
    .social-widget{
        p{
            margin-top: 10px;
        }
        .icon-widget-fc{
            display: flex;
            justify-content: space-around;
            background-color: #E7F1FE;
            color: #1877F2;
            margin-bottom: 10px;
            height: 30px;
            border-radius: 10px;
            align-items: center;
            p{
                margin-top: 15px;
                font-size: 11px;
            }
        }
         .icon-widget-tw{
            display: flex;
            justify-content: space-around;
            background-color: #E5E5E5;
            color: #000000;
            margin-bottom: 10px;
            height: 30px;
            border-radius: 10px;
            align-items: center;
            p{
                margin-top: 15px;
                font-size: 11px;
            }
        }
         .icon-widget-inst{
            display: flex;
            justify-content: space-around;
            background-color: #FCEAF0;
            color: #E33A73;
            margin-bottom: 10px;
            height: 30px;
            border-radius: 10px;
            align-items: center;
            p{
                margin-top: 15px;
                font-size: 11px;
            }
        }
         .icon-widget-yt{
            display: flex;
            justify-content: space-around;
            background-color: #FFE5E5;
            color: #FF0000;
            margin-bottom: 10px;
            height: 30px;
            border-radius: 10px;
            align-items: center;
            p{
                margin-top: 15px;
                font-size: 11px;
            }
        }
    }
  }
}
